.fa-exclamation-circle{
    font-size: 24px;
    color: rgb(182, 57, 57);
}

.form-element{
    position: relative;
}

.circle-1,.circle-2{
    margin-left: -33px;
    position: absolute;
    visibility: hidden;
    top: 12px;
}

.circle-3,.circle-4{
    margin-left: -36px;
    position: relative;
    top: 2px;
    visibility: hidden;
}

.circle-5{
    top:3px;
    position: relative;
    margin-left: 160px;
    visibility: hidden;
}

.circle-6{
    margin-left: 55px;
    visibility: hidden;
}