
body{
    background-color: rgb(189, 189, 236);
}
.questionBox{
    height: 130px;
    width: 290px;
    background-color: white;
    margin: 80px 88px;
    position: absolute;
    border-radius: 3.5px;
    color: black;
    font-size: 12px;
    line-height: 1.35em;
    padding: 10px;
    font-weight: lighter;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.16), 1px 6px 15px 0 rgba(0, 0, 0, 0.19);
}
.questionBox::after{

    content: "";
    width: 0px;
    height: 0px;
    border-left: 7px solid white;
    border-right: 7px solid transparent;
    border-top : 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    left: 100%;
    top: 16%;
}

.questionBox p{
    margin-top: 5px;
    padding-left: 2px;
}

.questionBox hr{
    border-top: 1px solid rgb(233, 207, 207);
}

.questionBox a{
    text-decoration: none;
}

.btnClose{
    margin-top: 1px;
    margin-left: 235px;
    background-color: #4969b6;
    border: 1px solid #4969b6;
    font-size: 12px;
    border-radius: 2px;
    color: white;
    width: 55px;
    height: 26px;
    outline-style: none;
}

.btnClose:hover{
    background-color: #3c5692;
}